form {
  margin-top: 30px;
  position: relative;
  z-index: 1;
}
.search {
  width: 40%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7ba7ab;
  border-radius: 5px;
  outline: none;
  background: #f9f0da;
  color: #524c4c;
  font-size: 17px;
  font-weight: 700;
}
.submit {
  margin-left: 7px;
  border: 2px solid #999999;
  background: #7ba7ab;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  box-shadow: 2px 5px 5px #868588;
  transition: all 200ms ease-in-out;
}
.submit:hover {
  background: #838f91;
}

.submit:active {
  border: 1px solid #999999;
  box-shadow: 1px 5px 5px #868588;
}
.current {
  margin-left: 10px;
  border: 2px solid #999999;
  background: #7ba7ab;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  box-shadow: 2px 5px 5px #868588;
  transition: all 200ms ease-in-out;
}
.current:hover {
  background: #838f91;
}
.current:active {
  border: 1px solid #999999;
  box-shadow: 1px 5px 5px #868588;
}
