.Weather {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  
}


.conteiner {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  }
.wrapper {
  /* background: linear-gradient(to bottom, #30cfd0 0%, #330867 100%); */
  background-image: url(https://images.pexels.com/photos/2100002/pexels-photo-2100002.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
 
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 60px 10px 60px;
 
  border-radius: 10px;
 
   max-height: 600px;
    box-shadow: 2px 2px 8px #F7F5F4, 0 0 2px #F7F5F4;;
    border-radius: 5px;
}



.city-week {
  position: relative;
  top: -210px;

  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
}
.day-item {
  text-align: center;
  font-size: 18px;
}
.week-day {
  color: #fff;
}

.day-temperature {
  color: #fff;
}
